/*PAGES*/

@keyframes pages_nav_button_caption_anim {
	0% {
		transform: translateX(120%);
	}

	50% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-120%);
	}
}



/*MAIN PAGE*/

@keyframes main_page_appear {
	0% {
		opacity: 0;
		transform: translateX(0);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes main_content_appear {
	0% {
		opacity: 0;
		transform: scale(2) rotate(15deg) translate(50%, 7%);
	}

	100% {
		opacity: 1;
		transform: scale(1) rotate(0deg) translate(0, 0);
	}
}

@keyframes main_main_caption_appear {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes main_secondary_caption_appear {
	0% {
		transform: rotate(-90deg) translateX(calc(-100% + 28px)) translateY(-100%);
		opacity: 0;
	}

	100% {
		transform: rotate(-90deg) translateX(calc(-100% + 28px)) translateY(0);
		opacity: 1;
	}
}

@keyframes main_main_caption_span_appear {
	0% {
		transform: scale(8);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes projects-preview-animation {
	0% {
		transform: translate(0, 0);
	}

	25% {
		transform: translate(-50%, 0);
	}

	50% {
		transform: translate(-50%, -50%);
	}

	75% {
		transform: translate(0, -50%);
	}

	100% {
		transform: translate(0, 0);
	}
}


/*SECONDARY PAGE*/