html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

* {
	user-select: none;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.nata {
	width: 100%;
	height: 100%;
	overflow: hidden;

	/*page navi buttons*/
	.page-nav-buttons {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;
		text-transform: lowercase;

		.button {
			width: 100px;
			height: 100px;
			background-color: black;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			font-size: 36px;
			position: absolute;
			bottom: 0;
			transition: width 0.2s ease-in-out, height 0.2s ease-in-out;

			p {
				font-weight: 900;
			    font-size: 0.7em;
			    white-space: nowrap;
			    opacity: 0;
			    transform: translate(4em, 0);
			    transition: opacity 0.33s ease-in-out, transform 0.33s ease-in-out;
			    text-transform: lowercase;
				// animation-name: pages_nav_button_caption_anim;
				// animation-duration: 8s;
				// animation-timing-function: linear;
				// animation-iteration-count: infinite;
			}


			&:after {
			    transform-origin: center center;
			    content: "";
			    border-bottom: 8px solid #ffffff;
			    border-right: 8px solid #ffffff;
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    width: 16px;
			    height: 16px;
			    transform: translate(-50%, -50%) rotate(-45deg);
			    transition: transform 0.33s ease-in-out;
			}

			&:hover {
			    // height: 120px;
				width: 200px;

				&:after {
					transform:  translate(-4em, -50%) rotate(-45deg);
				}

				p {
					transform: translate(0, 0);
					opacity: 1;
				}
			}


			&.prev-page {
				border-top-right-radius: 16px;
				left: 0;

				&:after {
					transform: translate(-50%, -50%) rotate(135deg);
				}

				p {
					transform: translate(-4em, 0);
				}

				&:hover {
					&:after {
						transform:  translate(4em, -50%) rotate(135deg);
					}

					p {
						transform: translate(0, 0);
						opacity: 1;
					}
				}
			}

			&.next-page {
				border-top-left-radius: 16px;
				right: 0;
			}

			
		}
	}

	.lang-select-buttons {
		position: fixed;
	    top: 16px;
	    left: 80px;
	    z-index: 1;
	    display: flex;
	    justify-content: space-between;

		.button {
			margin-right: 16px;

			p.button-caption {
				font-family: 'Montserrat', sans-serif;
				font-weight: 800;
				font-size: 12px;
				text-transform: lowercase;
			}

			&:after {
			    content: "";
			    width: 0;
			    height: 2px;
			    background: #101010;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    transition: width 0.2s ease-in-out;
			}

			&:hover:after {
			    width: 100%;
			}
		}
	}

	&[data-current-page="main"] {
		.page-nav-buttons {

			.button.prev-page {
				background-color: #2d2d2d;
				background-image: url( "/res/pics/bg_contacts.jpg" );
				background-position: 63% 40%;
			}

			.button.next-page {
				background-color: #e11500;
				background-image: url( "/res/pics/bg_projects.jpg" );
				background-position: 63% 40%;
			}
		}
	}

	&[data-current-page="projects"] {
		.page-nav-buttons {
			.button.prev-page {
				background-image: url( "/res/pics/bg_main.jpg" );
				background-position: 63% 40%;
				background-size: 1000px;

				p {
					color: #101010;
				}

				&:after {
					border-color: #101010;
				}
			}

			.button.next-page {
				background-color: #2d2d2d;
				background-image: url( "/res/pics/bg_contacts.jpg" );
				background-position: 63% 40%;
			}
		}

		.lang-select-buttons .button {

			 p.button-caption {
				color: #ffffff;
			}

			&:after {
			    background: #ffffff;
			}
		}
	}

	&[data-current-page="contacts"] {
		.page-nav-buttons {
			.button.prev-page {
				background-color: #e11500;
				background-image: url( "/res/pics/bg_projects.jpg" );
				background-position: 63% 40%;
			}

			.button.next-page {
				background-image: url( "/res/pics/bg_main.jpg" );
			    background-size: 1000px;
			    background-position: 63% 40%;
				background-size: 1000px;

				p {
					color: #101010;
				}

				&:after {
					border-color: #101010;
				}
			}
		}

		.lang-select-buttons .button {

			 p.button-caption {
				color: #ffffff;
			}

			&:after {
			    background: #ffffff;
			}
		}
	}


}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.14);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.14);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.14);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.0);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background:rgba(0, 0, 0, 0.0);
}
::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, 0.0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}