.page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;

	.content {
		padding: 0 148px;
	}

	.sub-header-wrapper {
	    position: absolute;
	    top: 50%;
	    left: 64px;
	    width: 400px;
	    transform: translate(0, 140px) rotate(-90deg);
	    transform-origin: top left;

		h2 {
			font-family: 'Montserrat', sans-serif;
		    font-style: normal;
		    font-weight: 900;
		    font-size: 44px;
		    line-height: normal;
		    color: #101010;
		    transform-origin: center;
		    text-transform: lowercase;
		}

	}	

	&.main {

		background-image: url( "/res/pics/bg_main.jpg" );
		background-size: cover;
		overflow: hidden;

		.content {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			position: relative;
			transform-origin: center;


			h1 {
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 900;
				font-size: 136px;
				line-height: normal;
				margin: 0;
				color: #101010;
				transform: lowercase;


				span {
					color: #FF1400;
				    transform-origin: center;
				    display: inline-flex;
				}
			}
		}

		.sub-header-wrapper h2 {
			color: #FF1400;
		}
	}

	
	&.contacts {
		background-color: #2d2d2d;
		background-image: url( "/res/pics/bg_contacts.jpg" );
		background-size: cover;
		color: #ffffff;

		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			transform-origin: center;
			height: 100%;

			h1 {
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 900;
				font-size: 116px;
				line-height: normal;
				margin: 0;
				color: #ffffff;
				transform: lowercase;

				span {
				    display: inline-flex;
				    font-style: italic;
				}
			}

		}

		.sub-header-wrapper h2 {
			color: #FFFFFF;
		}

		.cv-dl-buttom, .email-copy-button, .email-copied-button {
			p.button-caption {
				color: #AFAFAF;
				font-style: normal;
				font-weight: 800;
			}
		}

		.contacs-items {
			margin-top: 72px;
			width: 100%;
			display: flex;
			justify-content: center;
			font-size: 2vw;

			.button {
				margin: 0 36px;
				padding: 12px 0;

				p.button-caption {
					margin: 0;
				}

				&.email-copy-button {
					&:before {
						content: attr(data-copy-caption);
						color: #606060;
						font-style: normal;
						font-weight: 800;
						font-family: 'Montserrat', sans-serif;
						position: absolute;
						// transform: translate(0, 100%);
						opacity: 0;
						transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
					}

					p.button-caption {
						// transform: translate(0, 0);
						opacity: 1;
						transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
					}

					&.copied {
						cursor: default;

						&:before {
							content: attr(data-copy-caption);
							color: #9a9a9a;
							font-style: normal;
							font-weight: 800;
							font-family: 'Montserrat', sans-serif;
							position: absolute;
							opacity: 1;
							// transform: translate(0, 0);
						}

						&:after {
							display: none;
						}

						p.button-caption {
							// transform: translate(0, -100%);
							opacity: 0;
						}
					}	
				}

				&:after {
				    content: "";
				    width: 0;
				    height: 4px;
				    background: #606060;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    transition: width 0.2s ease-in-out;
				}

				&:hover:after {
					content: "";
				    width: 100%;
				    height: 4px;
				    background: #606060;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				}
			}
		}
	}
}